
.text {
    font-family: monospace;
}

.a {
    font-size: 24px;
}

.to {
    font-size: 25px;
    color: maroon;
    background-color: goldenrod;
}

.to.buy {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.burger {
    width: 500px;
}

img {
    width: 700px;
    height: 500px;
}